.header
	width 100%
	position relative
	&-banner
		width 100%
		background-image url(../images/banner/banner_1.jpg)
		background-size cover
		background-position center
	&-img
		position absolute
		bottom 0
		width 100%
		.img-team
			margin 0 auto
			display block
			max-width 100%
		