.contract
	.section
		&-title
			text-align center
			margin-bottom 1.5em
	&-form
		max-width 500px
		margin 0 auto
		border 1px solid $gray_light
		border-radius 10px
		padding 25px 0
		.btn
			border-radius 25px
		.checkbox
			display inline-block
		.form
			&-control
				text-align center
				text-transform uppercase
			&-group
				label
					text-transform uppercase
					font-weight 400
					font-size .9em
					color $red
	@media screen and (min-width 1300px)
		&-form
			margin-bottom 150px