html,
body
	font-family Roboto
	font-weight 400
.section
	&-row
		padding 50px 0
		text-align center
		background-size cover
		background-repeat no-repeat
		background-position center
.btn
	padding 10px 30px
	&.btn
		&-red
			background-color $red
			color white