.service
	&-content
		width 100%
		max-width 800px
		margin 0 auto
	&-img
		display inline-block
		background-color #590800
		height 110px
		width 110px
		border-radius 50%
		overflow hidden
		padding 15px
	&-text
		color white
		text-align left
	&-title
		color white
		text-align left
		font-family OpenCond
		font-weight 700
		text-transform uppercase
.red
	&-content
		width 100%
		max-width 800px
		margin 0 auto
	&-text
		color white
		text-align center
	&-title
		color white
		text-align center
		font-family OpenCond
		font-weight 700
		text-transform uppercase
.we
	&-block
		h3
			color $red
			text-transform uppercase
		p
			margin-bottom 0
		&:hover
			transition all .7s ease
			.we
				&-img
					transition all .7s ease
					border-color $red
					background-color $red
					i
						color white
	&-content
		width 100%
		max-width 800px
		margin 0 auto
	&-img
		display table
		margin 0 auto
		background-color transparent
		border 1px solid $dark_gray
		height 100px
		width 100px
		border-radius 50%
		overflow hidden
		padding 15px
		margin 0 auto
		i
			vertical-align middle
			display table-cell
			font-size 2em
	&-text
		color white
		text-align left
	&-title
		color white
		text-align left
		font-family OpenCond
		font-weight 700
		text-transform uppercase