.owl-carousel
	&.owl-loaded
		display inline-block
.stadium
	&-title
		text-align left
		margin-bottom 3.5em
		border-bottom 1px solid rgba(white, .3)
		width 100%
		float left
		.title
			float left
			text-transform uppercase
			font-size 2em
			margin-top .1em
			margin-bottom .7em
			font-family OpenCond
			font-weight 700
			color white
			margin-bottom 0.5em
			span
				color $red
		.control
			float right
			height 40px
			button,
			a
				width 40px
				height 40px
				background-color transparent
				border 2px solid white
				margin-left 5px
				&:first-child
					margin-left 0
				&.all-stadium
					color white
					padding 0 15px
					width auto
				i
					color white
	&-content
		text-align center
	&-article
		width 30%
		display inline-block
		vertical-align top
		margin-right 1%
		margin-left 1%
		margin-bottom 25px
		border-radius 0 10px 0 10px
		background-position center
		background-size cover
		height 230px
		cursor pointer
		color white
		text-decoration none
		box-shadow 0 0 10px 0 rgba(0,0,0,.4)
		&:hover
			text-decoration none
	&-block
		background-color rgba(0,0,0,.7)
		height 100%
		border-radius 0 10px 0 10px
		padding 0 15px
		display table
		&-content
			display table-cell
			vertical-align middle
			h4
				color white
				text-transform uppercase
				margin 0
			h6
				color red
				margin 0
				text-transform uppercase
			p
				color white
				margin 10px 0 0 0
	@media screen and (max-width 768px)
		&-article
			width 100%
			display block
			margin-right 0
			margin-left 0
			border-radius 0
.article
	&-team
		border 1px solid rgba($white, .5)
		a
			color white
			&:hover,
			&:focus,
			&:active
				color white
				text-decoration none
			.block-text
				color $white
				.content-text
					padding 15px
					h3
						color white
						margin 0
						text-transform uppercase
						font-family OpenCond
						font-weight 700
						text-align left
						font-size 1.5em
						span
							color white
					h6
						color $red
						margin 0
						text-align left
						margin-bottom .5em
						font-family OpenCond
						font-weight 700
						font-size 1em
						text-transform uppercase
					p
						color white
						margin 0
						text-align justify