.container
	- for (var i = 1 ; i <= 12 ; i++)
		section.catalog-block
			article.catalog-article
				figure.catalog-figure
					img(src="images/mobile/mobile_#{i}.png" class="img-responsive")
				.catalog-title
					h4 IPhone #{i}S
				.catalog-details
					.block-two
						h3 S/. 1200
				.square-btn
					a(href="product.html") Ver Detalle