.container
	.row
		.col-sm-4
			.footer-block.block-left
				ul.footer-list
					li
						a(href="#") Términos y condiciones
					li
						a(href="#") Contacto
		.col-sm-4
			.footer-block.block-center
				h5 © 2015 smartlovers
		.col-sm-4
			.footer-block.block-right
				ul.footer-list
					li
						a(href="#") Compartir
					li
						a(href="#") Siguenos