nav.navbar.navbar-black
	.container
		//- Brand and toggle get grouped for better mobile display
		.navbar-header
			button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
				span.sr-only Toggle navigation
				- for (var i = 1 ; i <= 3 ; i++)
					span.icon-bar
			a(class="navbar-brand" href="index.html")
				img(src="images/base/logo.png")

		//- Collect the nav links, forms, and other content for toggling
		div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
			ul.nav.navbar-nav
				li
					a(href="bloglist.html")
						i(class="icon-blog")
						span Blog Smartlovers
				li
					a(href="#")
						i(class="icon-sales")
						span Ultimas Ofertas
				li
					a(href="catalog.html")
						i(class="icon-issu")
						span Catálogo de Productos
				li
					a(href="plan.html")
						i(class="icon-plan")
						span Planes Smart

			p.navbar-text.navbar-right.hidden-sm
				| DISTRIBUIDOR OFICIAL DE
				a(href="http://www.claro.com.pe/" target="_blank") 
					img(src="images/base/logo-claro.png")
