section.header-banner
	.navbar-social(style='position: absolute')
		ul.list-social
			li
				a(href="#")
					i(class="fa fa-facebook" aria-hidden="true")
			li
				a(href="#")
					i(class="fa fa-twitter" aria-hidden="true")
			li
				a(href="#")
					i(class="fa fa-linkedin" aria-hidden="true")
			li
				a(href="#")
					i(class="fa fa-google-plus" aria-hidden="true")
	include nav