nav.navbar.navbar-black
	.container
		//- Brand and toggle get grouped for better mobile display
		.navbar-header
			button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
				span.sr-only Toggle navigation
				- for (var i = 1 ; i <= 3 ; i++)
					span.icon-bar
			a(class="navbar-brand" href="index.html")
				.navbar-img
					img(src="images/base/logo.png")

		//- Collect the nav links, forms, and other content for toggling
		div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
			ul.redes
				li
					a(target="_blank" href='https://www.facebook.com/smartloverspe')
						span.ico-f
				li
					a(target="_blank" href='https://twitter.com/smartloverspe')
						span.ico-t
				li
					a(target="_blank" href='https://www.instagram.com/smartloverspe')
						span.ico-i
			ul.nav.navbar-nav
				li
					a(href="/bloglist.html")
						//-i(class="icon-blog")
						span Ultimas notícias
				li
					a(href="/analisis.html")
						span Analisís
				li
					a(href="/smartguide.html")
						span Smartguide
				li
					a(href="/techshop.html")
						span Techshop
				li
					a(href="/prensa.html")
						span Prensa
				.navbar-btn
					.navbar-a
						a(href="#" class="btn btn-red") Servicio Técnico
