//- Modal
div(class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
	div(class="modal-dialog modal-md" role="document")
		.modal-content
			.modal-body
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span x
				.modal-col-5
					.modal-figure
						figure(style="background-image: url(images/mobile/mobile_1.png)")
					.modal-title
						h4 IPhone 6s
						h5 Apple
					.modal-feature
						.features
							h4
								| 4' 
								span Pantalla
						.features
							h4
								| 16MP 
								span C치mara
						.features
							h4
								| 8MP 
								span C치mara Frontal
						.features
							h4
								| 16GB 
								span Memoria
						.features
							h4
								| iOS 
								span Sistemas
						.features
							h4
								| 16GB 
								span Memoria
						.features-btn
							button(type="submit" class="btn btn-red") Ver Detalle
				.modal-col-2
					.modal-figure
						.modal-bubble
							.modal-center
								.bubble
									h2 Comparar
					.modal-ico
						.modal-ico-f
							.icof
								h4
									span.icon-window
							.icof
								h4
									span.icon-camera-on
							.icof
								h4
									span.icon-camera-off
							.icof
								h4
									span.icon-memory
							.icof
								h4
									span.icon-hardware
							.icof
								h4
									span.icon-system
				.modal-col-5
					.modal-figure
						figure(style="background-image: url(images/mobile/mobile_2.png)")
					.modal-title
						h4 IPhone 6s
						h5 Apple
					.modal-feature
						.features
							h4
								| 4' 
								span Pantalla
						.features
							h4
								| 16MP 
								span C치mara
						.features
							h4
								| 8MP 
								span C치mara Frontal
						.features
							h4
								| 16GB 
								span Memoria
						.features
							h4
								| 1.3GHZ 
								span Procesador
						.features
							h4
								| iOS 
								span Sistemas
						.features-btn
							button(type="submit" class="btn btn-red") Ver Detalle