nav.header-nav
	.navbarhome-full
		.navbar-header.navbarhome-header
			a.navbar-brand(href='index.html')
				img.img-responsive(src='images/base/logo.png')
			.navbarhome-title
				h3 UN BLOG DEDICADO A LAS NOVEDADES EN TECNOLOGÍA MÓVIL

		.collapse.navbar-collapse.navbarhome-collapse
			.navbarhome-content
				ul.nav.navbar-nav.navbarhome-nav
					li
						a(href="#header")
							i(class="icon-blog")
							span BLOG
							span SMARTLOVERS
					li
						a(href="#we")
							i(class="icon-sales")
							span ULTIMAS
							span OFERTAS
					li
						a(href="catalog.html")
							i(class="icon-issu")
							span CATÁLOGO DE
							span PRODUCTOS
					li
						a(href="#news")
							i(class="icon-plan")
							span PLANES
							span SMART