.row
	article.plan-article.col-lg-3.col-md-4.col-sm-6
		.plan-box
			.plan-title
				h4 Claro Conexión Chip 29
			.plan-price
				h3 S/. 29.00
				h6 al mes
				.plan-btn
					a(href="#" class="btn btn-red") Contratar
			.plan-details
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-phone")
						.plan-fil
							.fil-content
								h4 150
								h6 Minutos
					.plan-col
						.plan-fil
							span(class="icon-limited")
						.plan-fil
							.fil-content
								h4 Ilimitado
								h6 Rpc
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-internet")
						.plan-fil
							.fil-content
								h4 100 MB
								h6 Internet
					.plan-col
						.plan-fil
							span(class="icon-social")
						.plan-fil
							.fil-content
								h4 Incluidas
								h6 Redes sociales
	article.plan-article.col-lg-3.col-md-4.col-sm-6
		.plan-box
			.plan-title
				h4 Claro Conexión Chip 39
			.plan-price
				h3 S/. 39.00
				h6 al mes
				.plan-btn
					a(href="#" class="btn btn-red") Contratar
			.plan-details
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-phone")
						.plan-fil
							.fil-content
								h4 150
								h6 Minutos
					.plan-col
						.plan-fil
							span(class="icon-limited")
						.plan-fil
							.fil-content
								h4 Ilimitado
								h6 Rpc
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-internet")
						.plan-fil
							.fil-content
								h4 300 MB
								h6 Internet
					.plan-col
						.plan-fil
							span(class="icon-social")
						.plan-fil
							.fil-content
								h4 Incluidas
								h6 Redes sociales
	article.plan-article.col-lg-3.col-md-4.col-sm-6
		.plan-box
			.plan-title
				h4 Claro Conexión Chip 49
			.plan-price
				h3 S/. 49.00
				h6 al mes
				.plan-btn
					a(href="#" class="btn btn-red") Contratar
			.plan-details
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-phone")
						.plan-fil
							.fil-content
								h4 200
								h6 Minutos
					.plan-col
						.plan-fil
							span(class="icon-limited")
						.plan-fil
							.fil-content
								h4 Ilimitado
								h6 Rpc
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-internet")
						.plan-fil
							.fil-content
								h4 350 MB
								h6 Internet
					.plan-col
						.plan-fil
							span(class="icon-social")
						.plan-fil
							.fil-content
								h4 Incluidas
								h6 Redes sociales
	article.plan-article.col-lg-3.col-md-4.col-sm-6
		.plan-box
			.plan-title
				h4 Claro Conexión Chip 69
			.plan-price
				h3 S/. 69.00
				h6 al mes
				.plan-btn
					a(href="#" class="btn btn-red") Contratar
			.plan-details
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-phone")
						.plan-fil
							.fil-content
								h4 300
								h6 Minutos
					.plan-col
						.plan-fil
							span(class="icon-limited")
						.plan-fil
							.fil-content
								h4 Ilimitado
								h6 Rpc
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-internet")
						.plan-fil
							.fil-content
								h4 500 MB
								h6 Internet
					.plan-col
						.plan-fil
							span(class="icon-social")
						.plan-fil
							.fil-content
								h4 Incluidas
								h6 Redes sociales
	article.plan-article.col-lg-3.col-md-4.col-sm-6
		.plan-box
			.plan-title
				h4 Claro Conexión Chip 79
			.plan-price
				h3 S/. 79.00
				h6 al mes
				.plan-btn
					a(href="#" class="btn btn-red") Contratar
			.plan-details
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-phone")
						.plan-fil
							.fil-content
								h4 500
								h6 Minutos
					.plan-col
						.plan-fil
							span(class="icon-limited")
						.plan-fil
							.fil-content
								h4 Ilimitado
								h6 Rpc
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-internet")
						.plan-fil
							.fil-content
								h4 700 MB
								h6 Internet
					.plan-col
						.plan-fil
							span(class="icon-social")
						.plan-fil
							.fil-content
								h4 Incluidas
								h6 Redes sociales
	article.plan-article.col-lg-3.col-md-4.col-sm-6
		.plan-box
			.plan-title
				h4 Claro Conexión Chip 99
			.plan-price
				h3 S/. 99.00
				h6 al mes
				.plan-btn
					a(href="#" class="btn btn-red") Contratar
			.plan-details
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-phone")
						.plan-fil
							.fil-content
								h4 600
								h6 Minutos
					.plan-col
						.plan-fil
							span(class="icon-limited")
						.plan-fil
							.fil-content
								h4 Ilimitado
								h6 Rpc
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-internet")
						.plan-fil
							.fil-content
								h4 1 GB
								h6 Internet
					.plan-col
						.plan-fil
							span(class="icon-social")
						.plan-fil
							.fil-content
								h4 Incluidas
								h6 Redes sociales
	article.plan-article.col-lg-3.col-md-4.col-sm-6
		.plan-box
			.plan-title
				h4 Claro Conexión Chip 109
			.plan-price
				h3 S/. 109.00
				h6 al mes
				.plan-btn
					a(href="#" class="btn btn-red") Contratar
			.plan-details
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-phone")
						.plan-fil
							.fil-content
								h4 600
								h6 Minutos
					.plan-col
						.plan-fil
							span(class="icon-limited")
						.plan-fil
							.fil-content
								h4 Ilimitado
								h6 Rpc
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-internet")
						.plan-fil
							.fil-content
								h4 2 GB
								h6 Internet
					.plan-col
						.plan-fil
							span(class="icon-social")
						.plan-fil
							.fil-content
								h4 Incluidas
								h6 Redes sociales
	article.plan-article.col-lg-3.col-md-4.col-sm-6
		.plan-box
			.plan-title
				h4 Claro Conexión Chip 139
			.plan-price
				h3 S/. 139.00
				h6 al mes
				.plan-btn
					a(href="#" class="btn btn-red") Contratar
			.plan-details
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-phone")
						.plan-fil
							.fil-content
								h4 Ilimitado
								h6 Minutos
					.plan-col
						.plan-fil
							span(class="icon-limited")
						.plan-fil
							.fil-content
								h4 Ilimitado
								h6 Rpc
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-internet")
						.plan-fil
							.fil-content
								h4 3 GB
								h6 Internet
					.plan-col
						.plan-fil
							span(class="icon-social")
						.plan-fil
							.fil-content
								h4 Incluidas
								h6 Redes sociales
	article.plan-article.col-lg-3.col-md-4.col-sm-6
		.plan-box
			.plan-title
				h4 Claro Conexión Chip 189
			.plan-price
				h3 S/. 189.00
				h6 al mes
				.plan-btn
					a(href="#" class="btn btn-red") Contratar
			.plan-details
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-phone")
						.plan-fil
							.fil-content
								h4 Ilimitado
								h6 Minutos
					.plan-col
						.plan-fil
							span(class="icon-limited")
						.plan-fil
							.fil-content
								h4 Ilimitado
								h6 Rpc
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-internet")
						.plan-fil
							.fil-content
								h4 5 GB
								h6 Internet
					.plan-col
						.plan-fil
							span(class="icon-social")
						.plan-fil
							.fil-content
								h4 Incluidas
								h6 Redes sociales
	article.plan-article.col-lg-3.col-md-4.col-sm-6
		.plan-box
			.plan-title
				h4 Claro Conexión Chip 289
			.plan-price
				h3 S/. 289.00
				h6 al mes
				.plan-btn
					a(href="#" class="btn btn-red") Contratar
			.plan-details
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-phone")
						.plan-fil
							.fil-content
								h4 Ilimitado
								h6 Minutos
					.plan-col
						.plan-fil
							span(class="icon-limited")
						.plan-fil
							.fil-content
								h4 Ilimitado
								h6 Rpc
				.plan-table
					.plan-col
						.plan-fil
							span(class="icon-internet")
						.plan-fil
							.fil-content
								h4 10 GB
								h6 Internet
					.plan-col
						.plan-fil
							span(class="icon-social")
						.plan-fil
							.fil-content
								h4 Incluidas
								h6 Redes sociales
