.container
	.row
		- for (var i = 1 ; i <= 7 ; i++)
			.prensalist-block
				article.prensalist-article
					.prensalist-image
						figure(style="background-image: url(images/blog/blog_1.jpg)")
					.prensalist-content
						h3 LOREM IPSUM DOLOR SIT
						h5 USERPUBLIC - 14/04/2016
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam maiores vero dicta voluptas, ducimus, voluptatibus id. Amet distinctio inventore praesentium neque alias, minus incidunt adipisci, accusamus earum repudiandae perferendis, obcaecati.
						.prensalist-btn
							a(href="blog.html" class="btn btn-red") Ver más