doctype html
html(lang="es")
	head
		meta( name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title Smartlovers
		link(type="text/css" rel="stylesheet" href="css/vendor/owl.carousel.css")
		link(type="text/css" rel="stylesheet" href="css/main.css")
	body
		header.header
			include modules/header

		section.promo.section-row
			include modules/promo

		//- icon
			<span class="icon-arrow-down"></span>
			<span class="icon-blog"></span>
			<span class="icon-camera-off"></span>
			<span class="icon-camera-on"></span>
			<span class="icon-hardware"></span>
			<span class="icon-issu"></span>
			<span class="icon-limited"></span>
			<span class="icon-memory"></span>
			<span class="icon-internet"></span>
			<span class="icon-phone"></span>
			<span class="icon-plan"></span>
			<span class="icon-sales"></span>
			<span class="icon-social"></span>
			<span class="icon-system"></span>
			<span class="icon-window"></span>

		//- section.animated.section-row#we
			.container
				.row
					- for (var i = 1; i <= 4; i++)
						.col-md-3.col-sm-2.we-block
							if i === 1
								figure.we-img
									i(class="fa fa-bullhorn" aria-hidden="true")
								h3 Nosotros
							if i === 2
								figure.we-img
									i(class="fa fa-rocket" aria-hidden="true")
								h3 Misión
							if i === 3
								figure.we-img
									i(class="fa fa-eye" aria-hidden="true")
								h3 Visión
							if i === 4
								figure.we-img
									i(class="fa fa-list-ul" aria-hidden="true")
								h3 Valores
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quia saepe nihil nulla sit assumenda nesciunt cumque.

		footer.footer
			include modules/footer
		script(src="js/bundle.js")
		script(src="js/vendor/owl.carousel.min.js")