doctype html
html(lang="es")
	head
		meta( name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title Smartlovers
		link(type="text/css" rel="stylesheet" href="css/vendor/owl.carousel.css")
		link(type="text/css" rel="stylesheet" href="css/main.css")
	body
		header.headerint
			include modules/headerint
		section.banner
			.banner-pages(style="background-image: url(images/banner/bgint_3.png)")
				.container
					.banner-title
						h2
							i(class="icon-issu")
							| Detalle del 
							span Producto
		section.section-row.product-info
			.container
				.product-img
					figure.phone-img(style="background-image: url(images/mobile/mobile_1.png)")
				.product-description
					.phone-title
						h3 IPhone 6S
					.phone-price
						.block-two
							h3 S/. 1200
					.phone-plan
						.phone-detail
							h4 Detalles del producto
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aliquam totam ex non libero dicta officiis rerum quo veritatis, quae recusandae consequatur consequuntur fugiat obcaecati ab nobis quaerat impedit ut!
						.phone-buy
							a(href="contact.html" class="btn btn-red") Comprar

				

		footer.footer
			include modules/footer
		script(src="js/bundle.js")
		script(src="js/vendor/bootstrap.js")
		script(src="js/vendor/owl.carousel.min.js")