@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300|Open+Sans+Condensed:300,700&subset=latin,latin-ext')

Open = 'Open Sans', sans-serif
OpenCond = 'Open Sans Condensed', sans-serif