@font-face {
	font-family: 'icomoon';
	src:    url('../fonts/icomoon.eot?6cbyyu');
	src:    url('../fonts/icomoon.eot?6cbyyu#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?6cbyyu') format('truetype'),
		url('../fonts/icomoon.woff?6cbyyu') format('woff'),
		url('../fonts/icomoon.svg?6cbyyu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-camera-on:before {
	content: "\e903";
}
.icon-arrow-down:before {
	content: "\e900";
}
.icon-blog:before {
	content: "\e901";
}
.icon-camera-off:before {
	content: "\e902";
}
.icon-hardware:before {
	content: "\e904";
}
.icon-issu:before {
	content: "\e905";
}
.icon-limited:before {
	content: "\e906";
}
.icon-memory:before {
	content: "\e907";
}
.icon-internet:before {
	content: "\e908";
}
.icon-phone:before {
	content: "\e909";
}
.icon-plan:before {
	content: "\e90a";
}
.icon-sales:before {
	content: "\e90b";
}
.icon-social:before {
	content: "\e90c";
}
.icon-system:before {
	content: "\e90d";
}
.icon-window:before {
	content: "\e90e";
}

@font-face {
	font-family: 'redes';
	src:  url('../fonts/redes.eot?f7l8db');
	src:  url('../fonts/redes.eot?f7l8db#iefix') format('embedded-opentype'),
				url('../fonts/redes.ttf?f7l8db') format('truetype'),
				url('../fonts/redes.woff?f7l8db') format('woff'),
				url('../fonts/redes.svg?f7l8db#redes') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'redes' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ico-f:before {
	content: "\e900";
}
.ico-i:before {
	content: "\e901";
}
.ico-t:before {
	content: "\e902";
}