.tp-caption
	h3,
	span
		text-transform uppercase
		font-family OpenCond
		font-weight 700
		color white
		display block
		&.titleRed
			color $red
			font-family OpenCond
			font-size 1.4em
		&.slide-title-a
			font-family OpenCond
			font-weight 800
			font-size 1.8em
		&.slide-title-b
			font-family OpenCond
			font-weight 300
			font-size 1.4em
	span
		margin-bottom 0.1em